aiohttp==3.8.4
aiosignal==1.3.1
altair==5.0.1
anyio 
appnope 
argon2-cffi 
argon2-cffi-bindings
astor==0.8.1
astroid==3.1.0
asttokens 
async-timeout==4.0.2
attrs 
backcall 
backports.functools-lru-cache 
beautifulsoup4 
bleach 
blinker==1.6.2
brotlipy 
cachetools==5.3.1
certifi==2022.12.7
cffi 
charset-normalizer 
click==8.1.3
cloudpickle==3.0.0
colorama 
comm 
contourpy==1.0.7
cryptography 
cycler==0.11.0
dask==2024.1.1
dataclasses-json==0.5.8
debugpy 
decorator 
defusedxml 
dill==0.3.8
distro==1.9.0
duckdb==0.8.1
economic-complexity==0.2.0
entrypoints 
et-xmlfile 
executing 
Faker==19.13.0
fastapi==0.108.0
fastjsonschema 
filelock==3.12.0
Flask==2.3.2
flit_core 
fonttools==4.40.0
frozenlist==1.3.3
fsspec==2023.4.0
gitdb==4.0.10
GitPython==3.1.31
greenlet 
h11==0.14.0
httpcore==1.0.5
httpx==0.27.0
huggingface-hub==0.14.0
idna 
importlib-metadata 
importlib-resources 
install==1.3.5
ipykernel 
ipython==8.18.1
ipython-genutils==0.2.0
ipywidgets 
isort==5.13.2
itsdangerous==2.1.2
jedi 
Jinja2 
joblib==1.2.0
jsonpatch==1.33
jsonpointer==2.4
jsonschema 
jupyter 
jupyter-console 
jupyter-events 
jupyter_client 
jupyter_core 
jupyter_server 
jupyter_server_terminals 
jupyterlab-pygments 
jupyterlab-widgets 
kiwisolver==1.4.4
langchain==0.1.16
langchain-community==0.0.33
langchain-core==0.1.43
langchain-experimental==0.0.57
langchain-openai==0.1.3
langchain-text-splitters==0.0.1
langchainplus-sdk==0.0.17
langsmith==0.1.38
locket==1.0.0
markdown-it-py==3.0.0
MarkupSafe 
marshmallow==3.19.0
marshmallow-enum==1.5.1
matplotlib
matplotlib-inline 
mccabe==0.7.0
mdurl==0.1.2
mistune 
mpmath==1.3.0
multidict==6.0.4
mypy-extensions==1.0.0
nbclassic 
nbclient 
nbconvert 
nbformat 
nest-asyncio 
networkx==3.1
nltk==3.8.1
notebook 
notebook_shim 
numexpr==2.8.4
numpy 
openai==1.23.2
openapi-schema-pydantic==1.2.4
openpyxl 
orjson==3.10.0
packaging==23.2
pandas==1.5.3
pandas-stubs 
pandasai
pandocfilters 
parso 
partd==1.4.1
pexpect 
pickleshare 
Pillow==10.1.0
pkgutil_resolve_name 
platformdirs 
prometheus-client 
prompt-toolkit==3.0.43
protobuf==4.23.2
psutil 
psycopg2-binary
psycopg2 
ptyprocess 
pure-eval 
pyarrow==12.0.0
pycparser 
pydantic==1.10.9
pydeck==0.8.1b0
Pygments 
PyJWT
pylint==3.1.0
Pympler==1.0.1
pyOpenSSL 
pyparsing==3.0.9
pyrsistent 
PySocks 
python-dateutil 
python-dotenv==1.0.0
python-json-logger
pytz 
pytz-deprecation-shim==0.1.0.post0
PyYAML 
pyzmq 
regex==2023.3.23
requests 
rfc3339-validator 
rfc3986-validator 
rich==13.4.2
scikit-learn==1.2.2
scipy==1.10.1
Send2Trash 
sentence-transformers==2.2.2
sentencepiece==0.1.98
six 
smmap==5.0.0
sniffio 
soupsieve 
SQLAlchemy==1.4.50
stack-data 
starlette==0.32.0.post1
streamlit
sympy==1.11.1
tabulate==0.9.0
tenacity==8.2.2
terminado 
threadpoolctl==3.1.0
tiktoken==0.6.0
tinycss2 
tokenizers==0.13.3
toml==0.10.2
tomlkit==0.12.4
toolz==0.12.0
torch==2.0.0
torchvision==0.15.1
tornado 
tqdm 
traitlets 
transformers==4.28.1
types-pytz 
typing-inspect==0.9.0
typing_extensions==4.9.0
tzdata 
tzlocal==4.3
urllib3 
uvicorn==0.25.0
validators==0.20.0
wcwidth 
webencodings==0.5.1
websocket-client 
Werkzeug==2.3.3
widgetsnbextension 
yarl==1.9.2
zipp 